body{
  height: 100vh;
}

body a {
  all:initial;
  color: black;
}

.side-menu{
  display: none;
}



.menu-mobile{
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login-button{
  display: flex;
  justify-content: end;
  margin:30px;
  gap:5px;
  cursor: pointer;
}

.logo{
  display: flex;
  justify-content: center;
}

.menu{
  display: flex;
  list-style-type: none;
  position: relative;
}

.menu li{
  padding: 10px;
}

.menuArea{
  display: flex;
  justify-content:center;
}

.search{


  display: flex;
  gap:5px;
  margin-top:5px;
  /* margin-left: 200px;  */
}

.search input{
  border: 0px;
  border-bottom: 2px solid gray;
  width: 93.2px;
  height: 30.5px;
  

}

.search div{
  
margin-top: 5px;
}

.product-img{
  border-radius: 9px;
  width:264px;
  height:396px;
}

.product-img:hover{
  width:300px;
  height:450px;
  transition: 0.5ms;
}

.login-form{
  width: 60%;
  margin:0 auto;

}



.product-img{
  display: flex;
  justify-content: flex-end;
}

.product-detail *{
  margin: 5px;
}

.search-icon{
  cursor:pointer;
}


@media (max-width:991px){
  
  .product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
 

}


@media (max-width:655px){
  .search{
    margin-top:-7px;
  }
  .menu-mobile{
    visibility: visible;
    font-size: 25px;
    padding: 10px;
  }

  .menuArea{
    display: none;
  }

  .side-menu {
    display: block;
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: burlywood;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index:2
    
  }

  .side-menu{
    display: flex;
  }

  .side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
  }

  
  
  .side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
  }
  
  .side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .side-menu-list button:hover {
    background-color: beige;
    border-radius: 3px;
  } 
  

}

@media (max-width:350px){
  .product-img{
    width:100%;
  }
}
