body{
  height: 100vh;
}

body a {
  all:initial;
  color: black;
}



.login-button{
  display: flex;
  justify-content: end;
  margin:30px;
  gap:5px;
  cursor: pointer;
}

.logo{
  display: flex;
  justify-content: center;
}

.menu{
  display: flex;
  list-style-type: none;
  position: relative;
}

.menu li{
  padding: 10px;
}

.menuArea{
  display: flex;
  justify-content:center;
}

.search{


  display: flex;
  gap:5px;
  margin-top:5px;
  /* margin-left: 200px;  */
}

.search input{
  border: 0px;
  border-bottom: 2px solid gray;
  width: 93.2px;
  height: 30.5px;
  

}

.search div{
  
margin-top: 5px;
}

.product-img{
  border-radius: 9px;
  width:264px;
  height:396px;
}

.product-img:hover{
  width:300px;
  height:450px;
  transition: 0.5ms;
}

.login-form{
  width: 60%;
  margin:0 auto;

}

.detail-container{
  display: flex;
  justify-content: center;

}

.detail-container img{
  width: 300px;
  
}

/* .detail-text {
  margin-left: 10px;
}  */

.detail-row{
  width: 800px;;
}